<a href="https://colab.research.google.com/github/dariacherbaeva/cat_or_bread_bot/blob/master/%D0%A2%D0%B5%D1%81%D1%82%D0%BE%D0%B2%D0%BE%D0%B5_%D0%B7%D0%B0%D0%B4%D0%B0%D0%BD%D0%B8%D0%B5_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [22]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [23]:
import numpy as np
import pandas as pd

import sklearn
from sklearn import metrics

In [24]:
dataset_file = '/content/drive/MyDrive/table.csv'

csv = pd.read_csv(dataset_file, delimiter=',', usecols=['Score', 'Action'])

In [25]:
csv

     Score    Action
0     0.00  operator
1    19.55     reask
2    24.34     reask
3    29.26     reask
4     0.00  operator
..     ...       ...
362  37.35     reask
363  21.30     reask
364  12.93     reask
365  30.21  operator
366  49.33     reask

[367 rows x 2 columns]

In [26]:
x = csv.Score
y = csv.Action

In [27]:
from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.3, random_state=1)

x_train = x_train.values.reshape(-1, 1)
y_train = y_train.values.reshape(-1, 1)
x_test = x_test.values.reshape(-1, 1)
y_test = y_test.values.reshape(-1, 1)

**Дерево решений**

In [28]:
from sklearn.tree import DecisionTreeClassifier

clf = DecisionTreeClassifier()

clf = clf.fit(x_train, y_train)

y_pred = clf.predict(x_test)

In [29]:
print("Accuracy:", metrics.accuracy_score(y_test, y_pred))

Accuracy: 0.6126126126126126

Для сравнения рассмотрим другие алгоритмы классификации и убедимся в том, что accuracy будет ниже.

**Логистическая регрессия**

In [30]:
from sklearn.linear_model import LogisticRegression

logreg = LogisticRegression()

logreg.fit(x_train,y_train)

y_pred=logreg.predict(x_test)

/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [31]:
print("Accuracy:", metrics.accuracy_score(y_test, y_pred))

Accuracy: 0.5045045045045045

**SVM**

In [32]:
from sklearn import svm

clf = svm.SVC(kernel='linear')

clf.fit(x_train, y_train)

y_pred = clf.predict(x_test)

/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [33]:
print("Accuracy:", metrics.accuracy_score(y_test, y_pred))

Accuracy: 0.5405405405405406

**Naive Bayes Classifier**

In [34]:
from sklearn.naive_bayes import GaussianNB

gnb = GaussianNB()

gnb.fit(x_train, y_train)

y_pred = gnb.predict(x_test)

/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [35]:
print("Accuracy:",metrics.accuracy_score(y_test, y_pred))

Accuracy: 0.5315315315315315